/*************************** Slide css and keyframes ****************************/

.slide-up-leave-active {
    /* -webkit-animation: moveToTop .6s ease both; */
    animation: moveToTop .6s ease
}

.slide-up-enter-active {
    /* -webkit-animation: fadeIn .6s ease .6s both; */
    animation: fadeIn .4s ease .6s
}

.slide-down-leave-active {
    /* -webkit-animation: moveToBottom .6s ease both; */
    animation: moveToBottom .6s ease
}

.slide-down-enter-active {
    /* -webkit-animation: fadeIn .6s ease .6s both; */
    animation: fadeIn .4s ease .6s
}

/* .slide-down-enter, .slide-up-leave-active {
    -webkit-animation: moveFromBottom .6s ease both;
    animation: moveFromBottom .6s ease both
}


.slide-up-enter, .slide-down-leave-active {
    -webkit-animation: moveFromTop .6s ease both;
    animation: moveFromTop .6s ease both
} */


/* .slide-up-leave-active {
    -webkit-animation: moveToTop .6s ease both;
    animation: fadeOut .2s ease both
}

.slide-up-enter {
    -webkit-animation: fadeIn .6s ease .6s both;
    animation: moveFromBottom .6s ease .4s
}

.slide-down-leave-active {
    -webkit-animation: moveToBottom .6s ease both;
    animation: fadeOut 0.2s ease both
}

.slide-down-enter {
    -webkit-animation: fadeIn .6s ease .6s both;
    animation: moveFromTop 0.6s ease .4s
} */

/********************************* Somewhat works ****************************/
/* .slide-up-leave-active {
    animation: moveToTop .3s ease
}

.slide-up-enter-active {
    animation: moveFromBottom .3s ease .3s
}

.slide-down-leave-active {
    animation: moveToBottom .3s ease
}

.slide-down-enter-active {
    animation: moveFromTop .3s ease .3s
} */

@keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@keyframes moveToBottom {
    from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@keyframes moveToTop {
    from { }
	to { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

/* @-webkit-keyframes moveFromBottom {
    from { -webkit-transform: translateY(100%); }    
}

@-webkit-keyframes moveToBottom {
    from { }
	to { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes moveFromTop {
    from { -webkit-transform: translateY(-100%); }
}

@-webkit-keyframes moveToTop {
    from { }
	to { -webkit-transform: translateY(-100%); }
} */




/******************************************* Fade css and keyframes *******************************/
/* .fade-enter-active, .fade-leave-active {
    animation: fadeIn 1s ease 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
} */



@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% {opacity: 0;}
}